root = true

#
# Settings usage
# * Most settings have multiple levels: general and language-specific.
# * Order of priority: Language-specific > general > editor
# * If the editor doesn't have built-in support for a rule, settings in the file may have no effect.
# * Settings support a special "unset" value.
#   * If the winning (language vs. general) setting is "unset", the editor's setting (if supported) is always used.
#   * If the general setting is "unset" but the language has a value, that will be used - general will be ignored.
#

#
# TODO In order to minimize duplicate setting explanations, prefer grouping by formatting category/grouping.
#      This allows settings from different languages to cluster together.
#      Only do language-specific grouping when no other language uses those settings.
#

[*]
#######################
## STANDARD
##
# STRING: latin1 | utf-8 | utf-16be | utf-16le
charset = unset
# STRING: cr | crlf | lf
end_of_line = unset
# STRING: tab: use width of a tab character (see tab_width)
# POSITIVE INTEGER: tabs/spaces to use (see indent_style)
indent_size = tab
# STRING: space | tab
indent_style = unset
# BOOL: ensure EOF is a single blank line
insert_final_newline = unset
# STRING: off: do not hard-wrap long lines (or defer to editor)
# POSITIVE INTEGER: length to hard-wrap lines
max_line_length = unset
# POSITIVE INTEGER: visual representation of spaces a single tab character uses
tab_width = unset
# BOOL: erase white space at the end of all lines
trim_trailing_whitespace = unset
##
#######################

#######################
#                     #
# INTELLIJ EXTENSIONS #
#                     #
#######################
# These will be reorganized as multi-language settings get grouped together

#######################
## GENERAL EDITING
##
##
#######################

#######################
## FORMATTER
##
ij_formatter_enabled = unset
ij_formatter_off_tag = unset
ij_formatter_on_tag = unset
ij_formatter_tags_enabled = unset
##
#######################

#######################
## TABS / INDENTS
##
# BOOL: Minimize characters by mixing tab characters and spaces to reach indentation
ij_smart_tabs = unset
# POSITIVE INTEGER to indent contiguous lines that are part of the same statement
# See indent_size, indent_style, tab_width for how this will be formatted
ij_continuation_indent_size = unset
# BOOL: preserve whitespace indents on blank lines to preserve context
# TODO: Does this override trim_tailing_whitespace?
ij_any_keep_indents_on_empty_lines = unset
##
#######################

#######################
## SPACES
##
## Before [
##
ij_any_space_before_array_initializer_left_brace = unset
##
## Before {
##
ij_any_space_before_catch_left_brace = unset
ij_any_space_before_class_left_brace = unset
ij_any_space_before_do_left_brace = unset
ij_any_space_before_else_left_brace = unset
ij_any_space_before_finally_left_brace = unset
ij_any_space_before_for_left_brace = unset
ij_any_space_before_if_left_brace = unset
ij_any_space_before_method_left_brace = unset
ij_any_space_before_switch_left_brace = unset
ij_any_space_before_try_left_brace = unset
ij_any_space_before_while_left_brace = unset
##
## Before (
##
ij_any_space_before_catch_parentheses = unset
ij_any_space_before_for_parentheses = unset
ij_any_space_before_if_parentheses = unset
ij_any_space_before_method_call_parentheses = unset
ij_any_space_before_method_parentheses = unset
ij_any_space_before_switch_parentheses = unset
ij_any_space_before_while_parentheses = unset
##
## Before keywords
##
ij_any_space_before_catch_keyword = unset
ij_any_space_before_else_keyword = unset
ij_any_space_before_finally_keyword = unset
ij_any_space_before_while_keyword = unset
##
## Around Operators
##
ij_any_spaces_around_additive_operators = unset
ij_any_spaces_around_assignment_operators = unset
ij_any_spaces_around_bitwise_operators = unset
ij_any_spaces_around_equality_operators = unset
ij_any_spaces_around_logical_operators = unset
ij_any_spaces_around_multiplicative_operators = unset
ij_any_spaces_around_relational_operators = unset
ij_any_spaces_around_shift_operators = unset
ij_any_spaces_around_unary_operator = unset
##
## Within [] {} ()
##
ij_any_spaces_within_brackets = unset
ij_any_spaces_within_braces = unset
ij_any_spaces_within_array_initializer_braces = unset
ij_any_spaces_within_parentheses = unset
ij_any_spaces_within_method_parentheses = unset
ij_any_spaces_within_method_call_parentheses = unset
ij_any_spaces_within_if_parentheses = unset
ij_any_spaces_within_for_parentheses = unset
ij_any_spaces_within_while_parentheses = unset
ij_any_spaces_within_switch_parentheses = unset
ij_any_spaces_within_catch_parentheses = unset
##
## In ternary ?:
##
ij_any_space_before_quest = unset
ij_any_space_after_quest = unset
ij_any_space_before_colon = unset
ij_any_space_after_colon = unset
##
## Other
##
ij_any_space_before_comma = unset
ij_any_space_after_comma = unset
ij_any_space_before_for_semicolon = unset
ij_any_space_after_for_semicolon = unset
ij_any_space_after_type_cast = unset
##
#######################

#######################
## WRAPPING / BRACES
##
# BOOL: Editor should actively break long lines while typing (see max_line_length)
ij_wrap_on_typing = unset
# POSITIVE INTEGER(S): Comma separated list of ascending values to set the right margin indicator
# Ex: 80
# Ex: 80, 120, 160
ij_visual_guides = unset
##
## Keep When Reformatting
##
# BOOL: Preserve preexisting line breaks on unchanged lines
ij_any_keep_control_statement_in_one_line = unset
ij_any_keep_first_column_comment = unset
ij_any_keep_line_breaks = unset
ij_any_keep_simple_blocks_in_one_line = unset
ij_any_keep_simple_classes_in_one_line = unset
ij_any_keep_simple_methods_in_one_line = unset
# BOOL: Wrap long lines, formatting split lines according to other rules
# TODO: Confirm functionality - doc only says "TBD"
ij_any_wrap_long_lines = unset
##
## Braces Placement
##
ij_any_block_brace_style = unset
ij_any_class_brace_style = unset
ij_any_method_brace_style = unset
ij_any_lambda_brace_style = unset
##
## Extends / Implements / Permits Lists
##
ij_any_extends_list_wrap = unset
ij_any_align_multiline_extends_list = unset
##
## Extends / Implements / Permits Keyword
##
ij_any_extends_keyword_wrap = unset
##
## Function Declaration Parameters
##
ij_any_method_parameters_wrap = unset
ij_any_align_multiline_parameters = unset
ij_any_method_parameters_new_line_after_left_paren = unset
ij_any_method_parameters_right_paren_on_new_line = unset
ij_any_prefer_parameters_wrap = unset
##
## Function / Constructor Call Arguments
##
ij_any_call_parameters_wrap = unset
ij_any_align_multiline_parameters_in_calls = unset
ij_any_call_parameters_new_line_after_left_paren = unset
ij_any_call_parameters_right_paren_on_new_line = unset
##
## Chained Method Calls
##
ij_any_method_call_chain_wrap = unset
ij_any_align_multiline_chained_methods = unset
##
## 'if()' Statement
##
ij_any_if_brace_force = unset
ij_any_else_on_new_line = unset
ij_any_special_else_if_treatment = unset
##
## 'for()' / 'foreach()' Statement
##
ij_any_for_statement_wrap = unset
ij_any_align_multiline_for = unset
ij_any_for_statement_new_line_after_left_paren = unset
ij_any_for_statement_right_paren_on_new_line = unset
ij_any_for_brace_force = unset
##
## 'while()' Statement
##
ij_any_while_brace_force = unset
##
## 'do...while()' Statement
##
ij_any_do_while_brace_force = unset
ij_any_while_on_new_line = unset
##
## 'switch()' Statement
##
ij_any_indent_break_from_case = unset
ij_any_indent_case_from_switch = unset
##
## 'try' Statement
##
ij_any_catch_on_new_line = unset
ij_any_finally_on_new_line = unset
##
## Binary Expressions
##
ij_any_binary_operation_wrap = unset
ij_any_align_multiline_binary_operation = unset
ij_any_binary_operation_sign_on_next_line = unset
ij_any_parentheses_expression_new_line_after_left_paren = unset
ij_any_parentheses_expression_right_paren_on_new_line = unset
##
## Assignment Statement
##
ij_any_assignment_wrap = unset
ij_any_place_assignment_sign_on_next_line = unset
##
## Class Property / Constant Groups
##
ij_any_align_group_field_declarations = unset
##
## Ternary Operation
##
ij_any_ternary_operation_wrap = unset
ij_any_align_multiline_ternary_operation = unset
ij_any_ternary_operation_signs_on_next_line = unset
##
## Array Initializer
##
ij_any_array_initializer_wrap = unset
ij_any_align_multiline_array_initializer_expression = unset
ij_any_array_initializer_new_line_after_left_brace = unset
ij_any_array_initializer_right_brace_on_new_line = unset
##
## Modifier List
##
ij_any_modifier_list_wrap = unset
##
## Comments
##
##
#######################

#######################
## BLANK LINES
##
## Keep Maximum Blank Lines
##
ij_any_keep_blank_lines_in_declarations = unset
ij_any_keep_blank_lines_in_code = unset
ij_any_keep_blank_lines_before_right_brace = unset
##
## Minimum Blank Lines
##
ij_any_blank_lines_around_class = unset
ij_any_blank_lines_after_class_header = unset
ij_any_blank_lines_before_class_end = unset
ij_any_blank_lines_around_field = unset
ij_any_blank_lines_around_method = unset
ij_any_blank_lines_before_method_body = unset
##
#######################

#######################
## CODE GENERATION
##
## Comments
ij_any_block_comment_add_space = unset
ij_any_block_comment_at_first_column = unset
ij_any_line_comment_at_first_column = unset
ij_any_line_comment_add_space = unset
ij_any_line_comment_add_space_on_reformat = unset
##
#######################

#######################
## TBD
ij_any_blank_lines_after_imports = unset
ij_any_blank_lines_after_package = unset
ij_any_blank_lines_around_field_in_interface = unset
ij_any_blank_lines_around_method_in_interface = unset
ij_any_blank_lines_before_imports = unset
ij_any_blank_lines_before_package = unset
ij_any_enum_constants_wrap = unset
ij_any_wrap_comments = unset
##
#######################

###########################
## PER-LANGUAGE SETTINGS ##
###########################

#######
# PHP #
#######
#######################
## PHP Doc
##
#######################
